<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favourites</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/favourites.css" />
  <link rel="stylesheet" href="/styles/productboxes.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>

</head>

<body>

  <%- include('nav') %>

  <div class="body-favourites">
  <div class="title-favourites">
    <h1>Favourites</h1>
  </div>

  <div class="listing-section">
    <% for (let item of data) { %>
      <div class="product">
        <div class="image-box">
          <div class="images" id="image-1"></div>
        </div>
        <div class="text-box">
          <h2 class="item"><%= item.title %></h2>
          <h3 class="price"><%= item.price %></h3>
          <p class="description"><%= item.description %></p>
          <a href="mailto:<%= item.email %>">
            <button type="button" name="sold-button" id="sold-button">Message Seller</button>
          </a>
        </div>
      </div>
    <% } %>
  </div>
</div>
</body>
</html>
